mixin textarea(inputName, labelText, cols, rows, placeholderText, isRequired=false)
    label
            p= labelText
            p 
                textarea(name=inputName, cols=cols, rows=rows, placeholder=placeholderText, required=isRequired)